@import url("reset.css");
@font-face {
  font-family: 'NotoSansCJKjp-Regular';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Noto%20Sans%20CJK%20JP%20Regular%20Regular.otf");
  src: url("../fonts/Noto%20Sans%20CJK%20JP%20Regular%20Regular.otf?#iefix") format("embedded-opentype"), url("../fonts/Noto%20Sans%20CJK%20JP%20Regular%20Regular.otf") format("woff");
}

@font-face {
  font-family: 'NotoSansCJKjp-Bold';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Noto%20Sans%20CJK%20JP%20Bold.otf");
  src: url("../fonts/Noto%20Sans%20CJK%20JP%20Bold.otf?#iefix") format("embedded-opentype"), url("../fonts/Noto%20Sans%20CJK%20JP%20Bold.otf") format("woff");
}

@font-face {
  font-family: 'NotoSansCJKjp-Medium';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Noto%20Sans%20CJK%20JP%20Medium.otf");
  src: url("../fonts/Noto%20Sans%20CJK%20JP%20Medium.otf?#iefix") format("embedded-opentype"), url("../fonts/Noto%20Sans%20CJK%20JP%20Medium.otf") format("woff");
}

/*------------------------------------------------------------
PRODUCT 
------------------------------------------------------------*/
.defs {
  display: none;
}

.header {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 1054px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.header.active-bg {
  background: #ffffff;
  border-bottom: 1px solid #eee;
  padding-top: 18px;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo {
  width: 211px;
}

.header-svg {
  width: 100px;
  height: 50px;
}

.header__nav {
  margin-top: 9px;
}

.header__nav li {
  float: left;
}

.header__nav li:nth-child(1) {
  width: 135px;
}

.header__nav li:nth-child(2) {
  width: 220px;
}

.header__nav li:nth-child(3) {
  width: 180px;
}

.header__nav li:nth-child(4) {
  width: 160px;
}

.header__nav li:nth-child(5) {
  width: 123px;
}

.header__nav a {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 700;
  color: #0f0f0f;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.header__nav a:hover {
  color: #fe715f;
}

.header__contact a {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 700;
  color: #0f0f0f;
  background: #fe715f;
  border-radius: 20px;
  width: 169px;
  text-align: center;
  padding: 7px 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  border: 1px solid #fe715f;
}

.header__contact a:hover {
  background: transparent;
  border: 1px solid #0f0f0f;
}

.header-navSp {
  display: none;
}

/*------------------------------------------------------------
Footer
------------------------------------------------------------*/
.footer-img-top img {
  width: 100%;
}

.footer-coppyright {
  background: #f9f7f7;
  text-align: center;
  padding: 50px 0;
  font-size: 1.2rem;
  letter-spacing: .05em;
}

.footer-coppyright small {
  font-family: 'NotoSansCJKjp-Regular';
}

.go-to-top {
  width: 70px;
  height: 70px;
  line-height: 70px;
  position: fixed;
  bottom: 0;
  right: 0;
  text-align: center;
}

.go-to-top .pagetop-svg {
  width: 20px;
  height: 20px;
  padding: 15px;
  border-radius: 50%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  background-color: #fe715f;
  cursor: pointer;
  color: #ffffff;
  fill: #ffffff;
}

.go-to-top .pagetop-svg:hover {
  opacity: .7;
}

body {
  width: 100%;
  height: 100%;
  margin: auto;
}

.wrapper {
  min-width: 1054px;
  width: 100%;
  margin: auto;
  background: #fff;
}

.wrapper.is-active {
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

/*------------------------------------------------------------
Component Components
------------------------------------------------------------*/
.pc {
  display: block;
}

.sp {
  display: none;
}

.clear {
  clear: both;
}

/*------------------------------------------------------------
Title
------------------------------------------------------------*/
.title__en {
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: .1em;
  line-height: 1;
  padding-left: 40px;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
}

.title__ja {
  font-size: 1.6rem;
  line-height: 1.0;
  letter-spacing: .2em;
  margin-top: 12px;
  padding-left: 40px;
}

.title__enSub {
  font-size: 2.4rem;
  letter-spacing: .1em;
  font-family: 'Raleway', sans-serif;
}

.title__jaSub {
  font-size: 1.4rem;
  margin-top: 8px;
  letter-spacing: .2em;
}

.title__textSub {
  font-size: 1.4rem;
  margin-top: 35px;
  letter-spacing: .2em;
  line-height: 2.1;
}

/*------------------------------------------------------------
News
------------------------------------------------------------*/
.news__inner {
  max-width: 1040px;
  padding: 80px 0;
}

.news__list {
  margin-top: 60px;
}

.news__item {
  padding: 40px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.news__item:last-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.news__item .category {
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: .05em;
  color: #808080;
  margin-right: 20px;
  font-family: 'NotoSansCJKjp-Regular';
}

.news__item .date {
  font-size: 1.2rem;
  color: #808080;
  letter-spacing: .05em;
  font-family: 'NotoSansCJKjp-Regular';
}

.news__item a {
  display: block;
  margin-top: 10px;
  font-size: 1.4rem;
  line-height: 1.5;
  color: #0f0f0f;
  -webkit-transition: all .2s;
  transition: all .2s;
  font-family: inherit;
}

.news__item a:hover {
  color: #fe715f;
}

.mainSlide {
  position: relative;
}

.mainSlide-item {
  height: 100vh;
}

.mainSlide-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.mainSlide-inner img {
  width: 420px;
}

.mainSlide-catch {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainSlide-catch p {
  font-size: 2rem;
  color: #000;
  font-weight: 700;
  background-color: #fe715f;
  text-align: center;
  display: inline-block;
  letter-spacing: .4em;
  text-indent: .4em;
  margin: 10px 0;
  white-space: nowrap;
}

/*===================================================
Animation
===================================================*/
.zoom {
  opacity: 0;
}

.zoom.zoomIn {
  -webkit-animation: zoomIn 1s ease-in both;
          animation: zoomIn 1s ease-in both;
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeLeft {
  opacity: 0;
}

.fadeLeft.fadeInLeft {
  -webkit-animation: fadeInLeft 1s ease-in-out both;
          animation: fadeInLeft 1s ease-in-out both;
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-10%, 0, 0);
            transform: translate3d(-10%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-10%, 0, 0);
            transform: translate3d(-10%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.fadeRight {
  opacity: 0;
}

.fadeRight.fadeInRight {
  -webkit-animation: fadeInRight 1s ease-in-out both;
          animation: fadeInRight 1s ease-in-out both;
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(10%, 0, 0);
            transform: translate3d(10%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(10%, 0, 0);
            transform: translate3d(10%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.fadeUp {
  opacity: 0;
}

.fadeUp.fadeInUp {
  -webkit-animation: fadeInUp 1s ease-in-out both;
          animation: fadeInUp 1s ease-in-out both;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@media only screen and (max-width: 768px) {
  .header.active-bg {
    background: transparent;
    border-bottom: none;
    padding-top: 0;
  }
  .header {
    position: fixed;
  }
  .header .container {
    width: 100%;
  }
  .header__logo {
    position: absolute;
    top: 25px;
    left: 15px;
    z-index: 100;
  }
  .header__nav {
    display: none;
  }
  .header__contact {
    display: none;
  }
  .header-navSp {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    display: block;
  }
  .nav-btn {
    position: fixed;
    top: 12px;
    right: 15px;
    background: #000000;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: auto;
    z-index: 100;
  }
  .nav-btn span {
    background: #ffffff;
    height: 4px;
    width: 25px;
    border-radius: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition: all .4s;
    transition: all .4s;
  }
  .nav-btn span:nth-child(1) {
    top: 37%;
  }
  .nav-btn span:nth-child(3) {
    top: 65%;
  }
  .nav-btn.is-active span:nth-child(1) {
    -webkit-transform: translateX(0) translateY(-50%) translateZ(0) rotate(-45deg);
            transform: translateX(0) translateY(-50%) translateZ(0) rotate(-45deg);
    top: 48%;
    left: 30%;
  }
  .nav-btn.is-active span:nth-child(2) {
    left: -10px;
    opacity: 0;
  }
  .nav-btn.is-active span:nth-child(3) {
    -webkit-transform: translateX(0) translateY(-50%) translateZ(0) rotate(45deg);
            transform: translateX(0) translateY(-50%) translateZ(0) rotate(45deg);
    top: 48%;
    left: 30%;
  }
  .nav-sp {
    width: 100%;
    height: 100%;
    background: #fff;
    position: fixed;
    top: 0;
    right: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
    visibility: hidden;
    opacity: 0;
  }
  .nav-sp ul {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .nav-sp li a {
    display: block;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 15px 0;
    color: #0f0f0f;
    text-align: center;
  }
  .nav-sp li.contact a {
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 700;
    color: #0f0f0f;
    background: #fe715f;
    border-radius: 20px;
    width: 169px;
    padding: 10px 0;
    text-align: center;
    -webkit-transition: all .3s;
    transition: all .3s;
    border: 1px solid #fe715f;
    margin-top: 13px;
  }
  .nav-sp.is-active {
    visibility: visible;
    opacity: 1;
  }
  .footer-coppyright {
    padding: 20px 0;
    font-size: 1rem;
  }
  .wrapper {
    min-width: auto;
    overflow-x: hidden;
  }
  .container {
    max-width: 100%;
    padding: 50px 15px;
  }
  .pc {
    display: none;
  }
  .sp {
    display: block;
  }
  .title__en {
    padding-left: 0;
    font-size: 3.2rem;
  }
  .title__ja {
    padding-left: 0;
  }
  .news__list {
    margin-top: 40px;
  }
  .news__item {
    padding: 30px 0;
  }
  .news__item a {
    font-size: 1.3rem;
  }
  .mainSlide-item {
    height: 380px;
  }
  .mainSlide-inner img {
    width: 350px;
  }
  .mainSlide-catch {
    margin-top: 0;
  }
}

@media only screen and (max-width: 480px) {
  .mainSlide-inner img {
    width: 270px;
  }
  .mainSlide-catch p {
    font-size: 1.6rem;
  }
}
/*# sourceMappingURL=../maps/common.css.map */
