.mT40 {
  margin-top: 40px;
}

/*------------------------------------------------------------
Page top
------------------------------------------------------------*/
.main-order {
  padding-top: 80px;
}

.main-order__ttl.ttl__ja {
  font-size: 4rem;
  letter-spacing: .4em;
  text-align: center;
  line-height: 2;
  font-family: 'NotoSansCJKjp-Medium';
}

.main-order__ttl.ttl__ja span {
  background-image: radial-gradient(0.1em 0.1em at center center, #fe715f, #fe715f 95%, transparent);
  background-position: top left -7px;
  background-repeat: repeat-x;
  padding: .5em 0;
  background-size: 1.4em .5em;
}

.main-order__subttl {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: .05em;
  line-height: 2;
  font-family: 'Raleway', sans-serif;
}

.main-order__textwrap {
  text-align: center;
  margin-top: 60px;
}

.main-order__textwrap p {
  font-size: 1.6rem;
  letter-spacing: .16em;
  line-height: 3;
}

.main-image {
  padding: 0 40px;
  margin-top: 80px;
}

.main-image h2 {
  display: none;
}

.main-image img {
  max-width: 100%;
}

.main-image-sp {
  height: 230px;
  margin: 0 -40px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.main-concept .title__en {
  margin-top: 120px;
}

.main-artice__item {
  padding: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-artice__item.row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.main-artice__contents {
  width: 50%;
  padding: 0 40px;
}

.main-artice__contents p {
  font-size: 1.4rem;
  margin-top: 25px;
  line-height: 2.2;
  letter-spacing: .05em;
}

.main-artice__ttl {
  font-size: 2.4rem;
  letter-spacing: .1em;
  line-height: 2;
  margin-top: 8px;
  font-weight: 500;
}

.main-music {
  padding: 0 40px;
  margin-top: 60px;
  margin-bottom: 120px;
}

.main-music__inner {
  background: #f9fbfe;
  padding: 40px 20px;
}

.main-music__ttl {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: .05em;
  line-height: 1.6;
  font-family: 'Raleway', sans-serif;
}

.main-music__lead {
  text-align: center;
  margin-top: 20px;
  font-size: 2rem;
  line-height: 2;
}

.main-music__lead span {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, transparent), color-stop(0%, #b8d4f2));
  background: linear-gradient(transparent 60%, #b8d4f2 0%);
}

.main-music__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1000px;
  margin: 60px auto 0;
  background: url("../images/index/bg-music-01.png") left 50px no-repeat;
}

.main-music__audio {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border: 5px solid #b8d4f2;
  position: relative;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.main-music__audio--btn {
  width: 100%;
  height: 100%;
  background: url("../images/index/icon-play-01.svg") center center no-repeat;
  background-size: 40px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  -webkit-transition: background-color .25s ease-in-out;
  transition: background-color .25s ease-in-out;
}

.main-music__audio--btn:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.main-music__audio--img {
  position: absolute;
  top: -2px;
  left: -5px;
}

.main-music__item {
  width: 200px;
  text-align: center;
  margin-right: 40px;
}

.main-music__item:last-child {
  margin-right: 0;
}

.main-music__contents {
  margin-top: 15px;
}

.main-music__contents h3 {
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: .05em;
  line-height: 1.5;
  font-family: 'Raleway', sans-serif;
}

.main-music__contents p {
  font-size: 1.2rem;
  letter-spacing: .05em;
  line-height: 1.5;
  margin-top: 5px;
}

.main-service-flow {
  background: #f9f7f7;
  padding: 120px 0 100px;
}

.main-service-flow__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 30px;
}

.main-service-flow__body li {
  width: 170px;
  height: 170px;
  background: #ffffff;
  border-radius: 50%;
  text-align: center;
  position: relative;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
}

.main-service-flow__body .number {
  font-size: 2rem;
  position: absolute;
  top: -13px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-family: 'NotoSansCJKjp-Bold';
}

.main-service-flow__body .icon {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  margin-top: 40px;
}

.main-service-flow__body .icon img {
  max-width: 100%;
  height: 50px;
}

.main-service-flow__body .contents h3 {
  text-transform: uppercase;
  font-size: 1.6rem;
  margin-top: 15px;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
}

.main-service-flow__body .contents span {
  margin-top: 3px;
  font-size: 1rem;
  display: block;
}

.main-service-flow__more {
  background: #ffffff;
  display: inline-block;
  border-radius: 40px;
  text-transform: uppercase;
  width: 600px;
  text-align: center;
  margin: 0 auto;
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  padding: 20px 0;
  display: block;
  -webkit-transition: all .3s;
  transition: all .3s;
  font-family: 'Raleway', sans-serif;
}

.main-service-flow__more.more-type02 {
  background-color: #f9f7f7;
}

.main-service-flow__more:hover {
  background: #fe715f;
}

.main-service-flow__more span {
  font-size: 1.4rem;
  font-weight: 700;
  color: #0f0f0f;
  letter-spacing: .2em;
}

.main-service-flow__more span.more-en {
  margin-right: 15px;
  padding-right: 20px;
  position: relative;
}

.main-service-flow__more span.more-en:after {
  content: "-";
  position: absolute;
  top: -3px;
  right: 0;
}

.main-service-flow__text {
  margin-top: 50px;
  padding-left: 40px;
  font-size: 1.4rem;
  line-height: 2.8;
}

.main-products__inner {
  padding-bottom: 100px;
}

.main-products .title__en {
  margin-top: 120px;
}

.main-products__img {
  text-align: center;
}

.main-products__listitem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 1040px;
  margin: 40px auto;
}

.main-products__listitem li {
  width: calc((100% - 160px)/4);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.main-products__listitem li .main-products__ttl {
  font-size: 1.4rem;
  margin-top: 20px;
  color: #808080;
}

.main-products__listitem li .main-products__content {
  font-size: 1.4rem;
  color: #3f3f3f;
  margin-top: 15px;
  font-weight: 700;
  letter-spacing: .05em;
  line-height: 2;
}

.main-products__note {
  font-size: 1.2rem;
  color: #808080;
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-company__container {
  background: #f9fbfe;
  padding: 60px 20px;
  margin: 0 40px 100px;
}

.main-company__inner {
  margin: 0 auto;
  max-width: 1040px;
}

.main-company__ttlen {
  font-size: 2.4rem;
  letter-spacing: .1em;
}

.main-company__ttlja {
  font-size: 1.4rem;
  margin-top: 8px;
  letter-spacing: .2em;
}

.main-company__text {
  font-size: 1.4rem;
  margin-top: 35px;
  letter-spacing: .2em;
}

.main-company__listitem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 60px;
}

.main-company__listitem li {
  width: calc((100% - 160px)/4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 0;
  margin-right: 53px;
}

.main-company__listitem li:nth-child(4) {
  margin-right: 0;
}

.main-company__listitem li:nth-child(2) img {
  width: 110px;
}

.main-company__listitem li:nth-child(3) img {
  width: 160px;
}

.main-company__listitem li:nth-child(4) img {
  width: 170px;
}

.main-company__listitem li:nth-child(5) {
  padding: 30px 0;
}

.main-company__listitem li:nth-child(5) img {
  width: 110px;
}

.main-company__listitem li:nth-child(6) {
  padding: 30px 0;
}

.main-company__listitem li:nth-child(6) img {
  width: 180px;
}

.main-company__listitem img {
  width: 120px;
}

.main-company__listitem img:hover {
  opacity: .7;
}

.main-quality {
  background-color: #ffeeec;
  padding: 120px 0 100px;
}

.main-quality__lead {
  padding: 0 40px;
  font-size: 2.4rem;
  margin-top: 50px;
  line-height: 2;
  letter-spacing: .1em;
}

.main-quality__text {
  max-width: 980px;
  font-size: 1.4rem;
  padding-left: 40px;
  line-height: 2.8;
  margin-top: 25px;
}

.main-quality__listitem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 60px;
}

.main-quality__listitem li:hover {
  opacity: .7;
}

.main-quality__listitem li a.cl-reverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.main-quality__listitem li a.cl-reverse .main-quality__contents {
  margin-top: -5px;
  margin-bottom: 5px;
}

.main-quality__img {
  width: 250px;
  height: 250px;
  border: 25px solid #ffddd9;
  border-radius: 50%;
  margin: 0 auto;
}

.main-quality__img img {
  max-width: 100%;
}

.main-quality__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5px;
}

.main-quality__contents .text {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
  background-color: #fe715f;
  color: #000000;
  display: inline-block;
  margin: 4px 0;
  padding: 0 10px;
}

.main-lounge {
  background-color: #f9f7f7;
}

.main-lounge__inner {
  max-width: 1040px;
  padding: 80px 0;
}

.main-lounge__listitem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
}

.main-lounge__item {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 20px;
}

.main-lounge__contents {
  margin-top: 25px;
}

.main-lounge__contents .title {
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: .05em;
  line-height: 1.5;
}

.main-lounge__contents .detail {
  margin: 16px 0;
  font-size: 1.3rem;
  letter-spacing: .05em;
  line-height: 2.1;
}

.main-lounge__contents .map {
  max-width: 82px;
  height: 30px;
  background: #ffffff;
  border-radius: 50px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 30px;
  font-size: 1.4rem;
  font-weight: 700;
  color: #0f0f0f;
  -webkit-transition: all .3s;
  transition: all .3s;
  position: relative;
  font-family: 'Raleway', sans-serif;
}

.main-lounge__contents .map:hover {
  background-color: #fe715f;
}

.main-lounge__contents .map:after {
  content: "";
  background: url("../images/index/black.svg") no-repeat;
  display: inline-block;
  width: 14px;
  height: 15px;
  margin-left: 5px;
  margin-top: 5px;
}

@media only screen and (max-width: 768px) {
  .main-order {
    padding-top: 0;
  }
  .main-order__ttl.ttl__ja {
    font-size: 2.2rem;
  }
  .main-order__subttl {
    font-size: 1.6rem;
  }
  .main-image {
    margin-top: 0;
  }
  .main-concept .title__en {
    margin-top: 50px;
  }
  .main-artice__inner {
    padding-top: 0;
  }
  .main-artice__item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 0;
    display: block;
  }
  .main-artice__item img {
    max-width: 100%;
    margin: 0 auto;
  }
  .main-artice__item:nth-child(1) {
    padding-top: 0;
  }
  .main-artice__contents p {
    font-size: 1.4rem;
  }
  .main-artice__contents {
    width: 100%;
    padding: 0;
  }
  .main-artice__ttl {
    font-size: 1.8rem;
    margin-top: 30px;
  }
  .main-music {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .main-music__lead {
    font-size: 1.6rem;
  }
  .main-music__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background: transparent;
  }
  .main-music__audio {
    width: 150px;
    height: 150px;
  }
  .main-music__audio img {
    width: 100%;
  }
  .main-music__item {
    width: 50%;
    margin-right: 0;
    padding-bottom: 20px;
  }
  .main-service-flow {
    padding: 0 0 10px;
  }
  .main-service-flow__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 540px;
    margin: 50px auto 0;
  }
  .main-service-flow__body li {
    width: 140px;
    height: 140px;
    margin-bottom: 40px;
  }
  .main-service-flow__body .icon {
    width: 40px;
    height: 40px;
    margin-top: 25px;
  }
  .main-service-flow__body .contents h3 {
    font-size: 1.3rem;
  }
  .main-service-flow__more {
    width: 300px;
    max-width: 100%;
    margin-top: 10px;
  }
  .main-service-flow__more span.more-en {
    display: none;
  }
  .main-service-flow__text {
    padding-left: 0;
    font-size: 1.3rem;
    letter-spacing: .05em;
    line-height: 2.1;
    margin-top: 40px;
  }
  .main-products .title__en {
    margin-top: 0;
  }
  .main-products__img img {
    width: 100%;
  }
  .main-products__listitem {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .main-products__listitem li .main-products__ttl {
    width: 110px;
  }
  .main-products__listitem li .main-products__content {
    font-size: 1.2rem;
  }
  .main-products__listitem li {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 15px;
  }
  .main-products__note {
    padding-left: 0;
  }
  .main-company__container {
    padding: 30px 0;
    margin: 0 15px 60px;
  }
  .main-company__listitem li:nth-child(4) {
    margin-right: 20px;
  }
  .main-company__listitem li:nth-child(2) img {
    width: 90px;
  }
  .main-company__listitem li:nth-child(3) img {
    width: 120px;
  }
  .main-company__listitem li:nth-child(4) img {
    width: 110px;
  }
  .main-company__listitem li:nth-child(5) img {
    width: 70px;
  }
  .main-company__listitem li:nth-child(6) img {
    width: 130px;
  }
  .main-company__listitem li {
    width: calc((100% - 60px)/3);
    margin-right: 20px;
  }
  .main-company__listitem img {
    width: 90px;
  }
  .main-quality {
    padding: 0 0 40px 0;
  }
  .main-quality__lead {
    font-size: 1.8rem;
    letter-spacing: .05em;
    padding: 0;
    margin-top: 30px;
  }
  .main-quality__text {
    padding-left: 0;
    line-height: 2.1;
  }
  .main-quality__listitem {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-quality__listitem li {
    width: 40%;
    margin: 15px;
  }
  .main-quality__img {
    width: 200px;
    height: 200px;
    border-width: 18px;
  }
  .main-quality__contents .text {
    font-size: 1.1rem;
  }
  .main-lounge__inner {
    padding: 60px 15px;
  }
  .main-lounge__listitem {
    margin-top: 40px;
  }
  .main-lounge__item {
    width: calc((100% - 20px)/2);
    margin-right: 20px;
    padding-bottom: 40px;
  }
  .main-lounge__item:nth-child(2) {
    margin-right: 0;
  }
  .main-lounge__item:nth-child(3) {
    padding-bottom: 0;
  }
  .main-lounge__item img {
    width: 100%;
  }
  .main-lounge__contents .map {
    max-width: 90%;
    text-align: center;
  }
}

@media only screen and (max-width: 480px) {
  .main-order__ttl.ttl__ja {
    font-size: 1.8rem;
  }
  .main-music__item {
    width: 100%;
  }
  .main-company__listitem {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-company__listitem li {
    width: calc((100% - 60px)/2);
  }
  .main-company__listitem li:nth-child(even) {
    margin-right: 0;
  }
  .main-quality__listitem li a.cl-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-quality__listitem li a.cl-reverse .main-quality__contents {
    margin-top: 5px;
    margin-bottom: 0;
  }
  .main-quality__listitem li {
    width: 100%;
  }
}
/*# sourceMappingURL=../maps/top.css.map */
